---
layout: default
title: Books
permalink: /books/
---
<div class="home" id="books">
  {% assign books_posts = site.categories.books | sort: 'date' | reverse %}
  {% if books_posts %}
    <ul class="post-list">
      {% for post in books_posts %}
        <li>
          <h2>
            <a href="{{ post.url | relative_url }}">
              {{ post.title }}
            </a>
          </h2>

          {% if post.date %}
            <small>{{ post.date | date: "%B %d, %Y" }}</small>
          {% endif %}

          {% if post.excerpt %}
            <p>{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No posts in the “books” category yet.</p>
  {% endif %}
</div>
