---
layout: default
title: Movies
permalink: /movies/
---
<div class="home" id="movies">
  {% assign movies_posts = site.categories.movies | sort: 'date' | reverse %}
  {% if movies_posts %}
    <ul class="post-list">
      {% for post in movies_posts %}
        <li>
          <h2>
            <a href="{{ post.url | relative_url }}">
              {{ post.title }}
            </a>
          </h2>

          {% if post.date %}
            <small>{{ post.date | date: "%B %d, %Y" }}</small>
          {% endif %}

          {% if post.excerpt %}
            <p>{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No posts in the “movies” category yet.</p>
  {% endif %}
</div>
